.exit-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2rem;
    background-color: #282c34;
    color: white;
    text-align: center;
}
